.cards {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  width: 55%;
  margin: 20px 0;
}

.cards img {
  width: 50px;
  aspect-ratio: 1/1;
}

.cards div h1 {
  color: #2a3775;
  font-size: 19px;
  line-height: 20.8px;
  font-weight: 700;
  margin-bottom: 5px;
}
.cards div p {
  color: #7f94a9;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@media (max-width: 700px) {
  .cards div h1 {
    color: #2a3775;
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .cards div p {
    color: #7f94a9;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
  .cards {
    width: 90%;
  }
  .main {
    width: 90%;
  }
}
